$background-grey: #e2e8f0;
$background-white: #fff;
$font-color: #6a7789;
$orange: #ff8400;
$orange-light: #ffe2c0;

.sidebar {
    border-radius: 10px;
    outline: 2px solid #f0f2f5;
    outline-offset: -3px;
    padding: 10px;
    background-color: #fff;
    color: $font-color;
    display: flex;
    flex-direction: column;
    width: 37px;
    transition: width 0.3s ease-in-out;
    transition-delay: 0s;
    height: 95vh;

    span,
    .navbar div span {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    button {
        padding: 1px 0 0 1px;
        right: -35px;
        background-color: $background-white;
        transform: rotateZ(0);
        transition: background-color 0.3s ease, right 0.3s ease;
        animation: ease-in-out rotateRight 0.3s normal;
    }
}

.opened {
    transition-delay: 0s;
    width: 150px;

    button {
        padding: 1px 3px 0 2px;
        right: -20px;
        background-color: $background-grey;
        transform: rotateZ(0);
        transition: background-color 0.3s ease, right 0.3s ease;
        animation: ease-in-out rotateLeft 0.3s reverse;
    }

    .header {

        span {
            opacity: 1;
            display: inline;
            margin-left: 3px;
        }
    }

    .navbar {
        div {
            .element {
                span {
                    opacity: 1;
                }
            }
        }
    }
}

.header {
    display: flex;
    align-items: center;
    position: relative;
    margin: 10px 0;

    img {
        width: 35px;
    }

    span {
        white-space: nowrap;
        margin-left: 3px;
        overflow: hidden;
    }

    button {
        width: 20px;
        height: 20px;
        border: none;
        border-radius: 50%;

        cursor: pointer;
        position: absolute;
        color: $font-color;

        &:active,
        &:focus {
            outline: none;
        }
    }
}

.navbar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;

    >div {
        &:first-child {
            .element {
                &:nth-child(2) {
                    background-color: $orange-light;
                    color: $orange;
                }
            }
        }
    }

    .fa-icon {
        margin-bottom: 5px;
    }

    .element {
        padding: 5px 10px;
        border-radius: 10px;
        margin: 0 auto 10px;
        white-space: nowrap;
        overflow: hidden;

        &:hover {
            cursor: pointer;
            background-color: $background-grey;
        }

        .bottom {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }



        &:active {
            background-color: $orange-light;
            color: $orange;
        }

        span {
            overflow: hidden;
            display: inline-block;
            margin-left: 10px;
        }
    }
}


@keyframes rotateLeft {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(180deg);
    }
}

@keyframes rotateRight {
    0% {
        transform: rotateZ(180deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

@media (max-height: 450px) {
    .sidebar {
        height: auto;
    }
}

@media (min-height: 450px) {
    .sidebar {
        height: 95vh;
    }
}